<div class="container mt-4">
    <table class="table table-striped">
        <thead class="thead-dark">
            <tr>
                <th scope="col">Código</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Direccion</th>
                <th scope="col">Telefono</th>
                <th scope="col">Email</th>
                <th scope="col">Password</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let elemento of data">
                <th scope="row">{{elemento.id}}</th>
                <td>{{elemento.nombre}}</td>
                <td>{{elemento.apellido}}</td>
                <td>{{elemento.direccion}}</td>
                <td>{{elemento.telefono}}</td>
                <td>{{elemento.email}}</td>
                <td>{{elemento.password}}</td>
                <td>
                    <button class="btn btn-primary btn-sm" >Actualizar</button>
                    <button class="btn btn-danger btn-sm">Eliminar</button>
                </td>
            </tr>
        </tbody>
    </table>
    <button class="btn btn-primary" (click)="nuevo()">Nuevo Vehiculo</button>
</div>